PORT=3001
DATABASE_URL=postgres://geserd:CHANGE_DB_PASSWORD@127.0.0.1:5432/geserd
SECRET_KEY=CHANGE_SECRET
SERVER_IP=195.19.195.146
MAIL_HOST=mail.geserd.com
DKIM_SELECTOR=geserd
FROM_EMAIL=noreply@geserd.com
APP_URL=https://geserd.com
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
CONTACT_TO=
BASE_DOMAIN=geserd.com
SMTP_HOSTNAME=smtp.geserd.com
SMTP_TLS_KEY=/etc/geserd/tls/smtp.key
SMTP_TLS_CERT=/etc/geserd/tls/smtp.crt
SPAMD_HOST=127.0.0.1
SPAMD_PORT=783
SPAM_BLOCK_SCORE=0
ROBOKASSA_LOGIN=
ROBOKASSA_PASS1=
ROBOKASSA_PASS2=
ROBOKASSA_TEST_PASS1=
ROBOKASSA_TEST_PASS2=
ROBOKASSA_TEST=1
ROBOKASSA_HASH=md5
ROBOKASSA_RECEIPT=0
ROBOKASSA_SNO=usn_income
